.header-portfolio {
  outline: 1px solid #ECECEC;
  @media screen and (min-width: 768px) {
    
    padding: 24px 0px;
    & .container {
      display: flex;
      align-items: center;
    }
  }

  }