.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $accent-color;
    
    a & {
      margin-left: 0px;
      margin-right: 90px;
      max-width: 145px;
    }
    &-footer {
      margin-bottom: 20px;
    }
  }
 
  .span-logo {
    color: $main-font-color;
    &-footer {
      color: $text-dark-theme-color;
    }
  }
