$accent-color: #2196F3;
$main-font-color: #212121;
$secondary-font-color: #757575;
$text-dark-theme-color: #FFFFFF;
$text-backgrond-color-dark: #2F303A;
$icon-fill: #AFB1B8;
$sort-container-item: #EEEEEE;
$filter-button-bg: #f5f4fa;